*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

*.iml
*.ipr
*.iws
.idea/

# Flutter/Dart/Pub related
imam_rich/doc/api/
mi_card/doc/api/
imam_rich/ios/Flutter/.last_build_id
mi_card/ios/Flutter/.last_build_id
imam_rich/.dart_tool/
mi_card/.dart_tool/
imam_rich/.flutter-plugins
mi_card/.flutter-plugins
imam_rich/.flutter-plugins-dependencies
mi_card/.flutter-plugins-dependencies
imam_rich/.pub-cache/
mi_card/.pub-cache/
imam_rich/.pub/
mi_card/.pub/
imam_rich/build/
mi_card/build/

imam_rich/app.*.symbols
mi_card/app.*.symbols

imam_rich/app.*.map.json
mi_card/app.*.map.json

imam_rich/android/app/debug
imam_rich/android/app/profile
imam_rich/android/app/release
mi_card/android/app/debug
mi_card/android/app/profile
mi_card/android/app/release
